html {
  height: 100vh;
}
body {
  height: 100%;
  max-height: 600px;
  /* width: 1000px; */
  background-color: hsla(200,40%,30%,.4);
  background-image:  
  url('https://cdn.vox-cdn.com/thumbor/NZlQPJl_OGHy3vac9wEzRDb7krE=/0x0:3000x2003/1200x675/filters:focal(1290x946:1770x1426)/cdn.vox-cdn.com/uploads/chorus_image/image/66840448/1206715202.jpg.0.jpg'),
    url('https://wallpapercave.com/wp/wp1874155.jpg'), 
    url('https://cdn.hipwallpaper.com/i/67/99/VJlgdD.jpg'),
    url('https://wallpaperaccess.com/full/2035085.jpg'),
    url('https://www.wallpapertip.com/wmimgs/50-503873_beers-bar-wallpaper-bar-background-hd.jpg'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: no-repeat,no-repeat,repeat-y, repeat,no-repeat;
  background-position: 
  0 5%,
  0 20%,
  0 30%,
  0 40%,
  0 100%;
  background-size: 
    2000px,
2000px,
    500px 260px,
    2000px,
    500px 200px ;
  animation: 15s para ;
  }

@keyframes para {
  50% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      500px 20%,
      400px 20%;
    }
  }
  #main-container {
    /* opacity: 0.9; */
    overflow: hidden;
    
     
}
.green{
  color: blue}
  #search {
    color: blue;
    border: 2px solid currentColor; /* Sets a solid, 2px wide, blue border to the element */
display: flex; 
}

.splash {
  background-color: white;
  height: 80vh;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.white {
  background-color: white;
  padding: 25px;
}


.main-container {
  height: 100vh;
}